iframe{
    width: 100%;
    height: 100vh;
}
.titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px; /* Aumentado para destacar no layout 1x1 */
  color: #E35336;
  margin: 10px 0;
}

.texto {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
  text-align: center;
}

.fonte-montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size:25px;
  color: #E35336;
  margin: 10px 0;
}

.fonte-bonita {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-size: 48px;
  color: #E35336;
  margin-bottom: 0;
}

.centralizar{
    text-align: center;
}