/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
    margin: 0;
    padding: 0;
    background-color: #f5efe6; /* Cor de fundo creme da imagem */
    background-image: url('/public/fundo-carta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}